.limitations-section {
  padding: 3rem;
  .content {
    max-width: var(--section-m-w);
    margin: 0 auto;

    .header {
      padding: 3.5rem 1.5rem;
      text-align: center;
      h2 {
        margin-bottom: 2rem;
        font-size: 2rem;
        letter-spacing: -0.1rem;
      }

      p {
        line-height: 1.5rem;
      }
    }
  }

  .cards-section {
    position: relative;

    .bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(#fff, var(--blue-15));
      opacity: 0.25;
      z-index: -1;
      top: 3rem;
      left: 0;
    }
    .content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding: 1.5rem;
      padding-bottom: 3rem;
    }
  }
}

@media screen and (min-width: 660px) {
  .limitations-section {
    .cards-section {
      .content {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        article {
          max-width: calc(50% - 1.5rem);
        }
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  .limitations-section {
    margin-top: 3.5rem;
    .content {
      position: relative;
      .header {
        padding: 3rem 0;
        max-width: 500px;
        text-align: left;

        h2 {
          font-size: 3rem;
        }
      }
    }
    .cards-section {
      position: absolute;
      top: 0;
      right: 0;

      .content {
        display: grid;
        align-items: flex-end;
        padding-top: 3rem;
        gap: 2rem;
        grid-template-columns: repeat(2, 366px);
        padding-bottom: 5.375rem;
        article {
          max-width: 366px;
          height: 100%;
          justify-self: flex-end;
          &:first-child {
            grid-column-start: span 2;
            transform: translateX(-103px);
          }
          &:last-child,
          &:nth-child(4) {
            transform: translateX(-203px);
          }
        }
      }
      .bg {
        display: none;
      }
    }
  }
}
