@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

:root {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  --blue: #345ff6;
  --gunmetal: #253347;
  --dark-electric-blue: #5e6e85;
  --borders: #d8e2e7;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

input {
  outline: none !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}
